{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<title>{% block title %}{% endblock %} - StepHelp</title>
		<meta charset="UTF-8">
		
		<link rel="stylesheet/less" href="{% static 'less/variables.less' %}">
		<script>
			var less = { env: 'production' };
		</script>
		<script src="{% static 'js/less-1.3.1.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/application.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/application.js' %}"></script>
		
		<!--[if lt IE 9]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
		<!--[if lt IE 10]><script src="{% static 'js/jquery.placeholder-enhanced.min.js' %}"></script><![endif]-->		
		
		{% block media %}{% endblock %}
	</head>
	
	<body class="container">
		<header class="navbar">
			<nav class="navbar-inner">
				<a href="{% url 'index' %}" class="brand">StepHelp</a>
				
				<ul class="nav pull-right">
					<li{% block nav-home %}{% endblock %}><a href="{% url 'index' %}">Home</a></li>
					<li{% block nav-start %}{% endblock %}><a href="{% url 'create-project' %}">Start a project</a></li>
					<li{% block nav-browse %}{% endblock %}><a href="{% url 'all-projects' %}">Browse projects</a></li>
					<li{% block nav-about %}{% endblock %}><a href="{% url 'about' %}">About</a></li>
					
					<li class="divider-vertical"></li>
					{% if user.is_authenticated %}
						<li{% block nav-profile %}{% endblock %}><a href="{% url 'user' user.id %}">My profile</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li class="dropdown{% block nav-login %}{% endblock %}">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								Login <i class="caret"></i>
							</a>
							<form action="{% url 'login' %}" method="post" id="login_form" class="dropdown-menu well">
								{% csrf_token %}
								<input name="username" id="login_username" type="text" placeholder="Username">
								<input name="password" id="login_password" type="password" placeholder="Password">
								<button type="submit" class="btn btn-primary">Log in</button><br>
								<div id="login_error" class="alert alert-error"></div>
							</form>
						</li>
						<li{% block nav-register %}{% endblock %}><a href="{% url 'register' %}">Register</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
		
		{% block main %}{% endblock %}
		
		<footer class="well">
			Footer
		</footer>
	</body>
</html>