{% extends 'app/base.html' %}

{% block title %}{{ project.name }}{% endblock %}
{% block nav-browse %} class="active"{% endblock %}

{%block main %}
	<h1>{{ project.name }}</h1>
	
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
		<li><a href="{% url 'all-projects' %}">Browse projects</a> <span class="divider">&gt;</span></li>
		<li class="active">{{ project.name }}</li>
	</ul>
	
	<div class="row">
		<div class="span8">
			<p>{{ project.description }}</p>
		</div>
		
		<div class="span4">
			<h4>Tasks</h4>
			<table class="table table-bordered table-striped">
				{% for task in project.tasks.all %}
					<tr>
						<td><strong>{{ task.description }}</strong></td>
					</tr>
					<tr>
						<td>
							<strong>Assigned to:</strong>
							<a href="{% url 'user' task.assigned_to.pk %}">{{ task.assigned_to }}
						</td>
					</tr>
					<tr>
						<td><strong>Status:</strong> {{ task.get_status_display }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}