{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title %}Start your own project{% endblock %}
{% block nav-start %} class="active"{% endblock %}

{% block media %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-wysihtml5-0.0.2.css' %}">
	<script src="{% static 'js/wysihtml5-0.3.0.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-wysihtml5-0.0.2.min.js' %}"></script>
{% endblock %}

{% block main %}
	<h1>Start your own project</h1>
	
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
		<li class="active">Start your project</li>
	</ul>
	
	{% if user.is_authenticated %}
		{% url 'create-project' as form_url %}
		{% include 'app/form.html' with url=form_url submit="Create the project" %}
	{% else %}
		<div class="hero-unit">
			To start your new project on StepHelp, please <a href="#" id="open_login">sign in</a> if you
			already have an account or <a href="{% url 'register' %}">register</a> if you want to create one.
		</div>
	{% endif %}
{% endblock %}