{% extends 'app/base.html' %}

{% block title %}{{ project.name }}{% endblock %}
{% block nav-browse %} class="active"{% endblock %}

{%block main %}
	<h1>{{ project.name }}</h1>
	
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
		<li><a href="{% url 'all-projects' %}">Browse projects</a> <span class="divider">&gt;</span></li>
		<li class="active">{{ project.name }}</li>
	</ul>
	
	<div class="row">
		<div class="span8">
			<p>{{ project.description }}</p>
		</div>
	
		<div class="span4">
			<table class="table table-striped">
				<caption>Project parts</caption>
				<tbody>
					{% for part in project.parts.all %}
						<tr>
							<td>{{ part.description }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}