{% extends 'app/base.html' %}

{% block title %}Browse projects{% endblock %}
{% block nav-browse %} class="active"{% endblock %}

{% block main %}
	<h1>Browse projects</h1>
	
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
		<li class="active">Browse projects</li>
	</ul>
	
	<div class="row">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">Categories</li>
			
				<li{% if category_id == 0 %} class="active"{% endif %}>
					<a href="{% url 'all-projects' %}">All</a>
				</li>
				
				{% for category in category_list %}
					<li{% if category.id == category_id %} class="active"{% endif %}>
						<a href="{% url 'category' category.id %}">{{ category }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="span10">
			<ul class="thumbnails">
				{% for project in project_list %}
					<li class="span5">
						<div class="thumbnail">
							<a href="{% url 'project' project.id %}">
								<img src="{{ project.image }}" alt="{{ project }}">
								<div class="legend">
									<h4>{{ project }}</h4>
									<p>{{ project.summary|truncatewords:18 }}</p>
								</div>
							</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}