{% extends 'app/base.html' %}

{% block title %}{{ project }}{% endblock %}
{% block nav-browse %} class="active"{% endblock %}

{%block main %}
	<div class="row">
		<div class="span12">
			<div id="project_header" class="hero-unit">
				<h1>{{ project }}</h1>
				<span class="muted">by <a href="{% url 'user' project.owner.id %}">{{ project.owner.profile }}</a></span>
				<p>{{ project.summary }}</p>
			</div>
		</div>
		
		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
				<li><a href="{% url 'all-projects' %}">Browse projects</a> <span class="divider">&gt;</span></li>
				<li class="active">{{ project }}</li>
			</ul>
		</div>
		
		<div class="span8">
			<div class="project-detail-image">
				<img src="{{ project.image }}" alt="{{ project }}">
			</div>
			<p>{{ project.description|safe }}</p>
		</div>
		
		<div class="span4">
			<h3>Tasks</h3>
			<table class="table table-bordered table-striped">
				{% for task in project.tasks.all %}
					<tr>
						<td><strong>{{ task.description }}</strong></td>
					</tr>
					<tr>
						<td>
							<strong>Assigned to:</strong>
							<a href="{% url 'user' task.assigned_to.pk %}">{{ task.assigned_to }}
						</td>
					</tr>
					<tr>
						<td><strong>Status:</strong> {{ task.get_status_display }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}