{% extends 'app/base.html' %}

{% block title %}Register{% endblock %}
{% block nav-register %} class="active"{% endblock %}

{%block main %}
	<h1>Create a new account</h1>
	
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
		<li class="active">Register</li>
	</ul>
	
	<form action="{% url 'register' %}" method="post" class="form-horizontal">
		{% csrf_token %}
		{% for field in form %}
			<div class="control-group{% if field.errors %} error{% endif %}">
				<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}:</label>
				<div class="controls">
					{{ field }}
					<span class="help-inline"><span class="muted">{{ field.help_text }}</span></span>
					{% for error in field.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls"><button type="sumbit" class="btn btn-primary">Register</button></div>
		</div>
	</form>
{% endblock %}