{% for task in tasks %}
	{% url 'edit-task' task.pk as url %}
	<table class="table table-bordered table-striped">
		<tr>
			<td>
				{% if task.project.owner == user %}
					<a href="#" data-name="description" data-url="{{ url }}">{{ task.description }}</a>
				{% else %}
					<strong>{{ task.description }}</strong>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>
				<strong>Assigned to:</strong>
				{% if task.assigned_to %}
					<a href="{% url 'user' task.assigned_to.pk %}">{{ task.assigned_to }}
				{% else %}
					nobody
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>
				<strong>Status:</strong>
				{% if task.project.owner == user %}
					<a href="#" data-type="select" data-name="status" data-value="{{ task.status }}" data-url="{{ url }}">
						{{ task.get_status_display }}
					</a>
				{% else %}
					{{ task.get_status_display }}
				{% endif %}
			</td>
		</tr>
	</table>
{% endfor %}