{% extends 'app/base.html' %}

{% block title %}User {{ user_d.profile }}{% endblock %}
{% block nav-browse %}{% if user_d.id != user.id %} class="active"{% endif %}{% endblock %}
{% block nav-profile %}{% if user_d.id == user.id %} class="active"{% endif %}{% endblock %}

{%block main %}
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home</a> <span class="divider">&gt;</span></li>
		<li class="active">{{ user_d.profile }}'s profile</li>
	</ul>
	
	<h1>{{ user_d.profile }}'s profile</h1>
{% endblock %}
